<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3>Buscar por Nome</h3>
	<form  action="buscarPorNome">
		<label>Nome:</label>
		<input type="search" name="nome">
		<button type="submit">Buscar</button>
	</form>
	
	<h3>Buscar por CPF</h3>
	<form action="buscarPorCpf">
		<label>CPF:</label>
		<input type="search" name="cpf">
		<button type="submit">Buscar</button>
	</form>
	<span style="color:red;" th:text="${msg}"></span>
</body>
</html>